{% extends 'layout.twig' %}

{% block content %}
  <!-- agregamos lenguaje twig -->
  <!-- <?php   foreach ($blogPost as $blog_post): ?> -->
  {% for blogPost in blogPost %}
  <div class="blog-post">
  <!-- <h2><?php echo $blog_post['title'] ?></h2> -->
  <h2>{{ blogPost.title }}</h2>
  <p>Jan 1, 2020 <a href="#"> </a> </p>
  <div class="blog-post-image">
    <img src="images/teclado.jpg" alt="Teclado">
  </div>
  <div class="blog-post-content">
    <!-- <?php echo $blog_post['content'] ?> -->
    {{ blogPost.content }}
  </div>
  </div>
  <!-- <?php endforeach ?> -->
  {% endfor %}
{% endblock %}
