{% extends "layout.twig" %}

{% block content %}
<h2>Login</h2>
{% if errors %}
  {% include 'partials/errors.twig' %}
{% endif %}
  <form class="" method="post">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" name="email" value="" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" value="" class="form-control" id="inputPassword">
    </div>
    <div class="form-group">
      <input type="submit" value="Login" class="btn btn-primary">
    </div>


  </form>
{% endblock %}
